* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.form_movies {
  padding: 20px 15px;
  background-color: cadetblue;
  margin-bottom: 40px;
  text-align: center;
  &-input {
    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
  }
  &-btn {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #e6e0d9;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background-color: burlywood;
    }
  }
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  &-card {
    max-width: 30%;
    height: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    margin: 0 0 50px;
  }
  &-image {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
  }
  &-title,
  &-release {
    padding: 10px 0;
  }
  &-moon_phase {
    padding: 10px 0;
  }
}